*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
     height: 100vh;  /*height = viewport height */

    overflow-y: auto;
    overflow-x: hidden;

    perspective: 10px;   /* to use 3d */
}

#container{
    position: relative;  /* is it important to mention it.. */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    transform-style: preserve-3d;  /* preserve my 3d changes */

    z-index: -1;   /* layering . is giving z-index here important or not. */
}

.bg, .fg{
    position: absolute;
    height: 100%;
    width: 100%;

    object-fit: cover;  /*  */

    z-index: -1;   /* layering default is 0,  */
}
.bg{
    transform: translateZ(-30px);
    scale: 5;
}
.fg{
    transform: translateZ(-30px);
    scale: 5
}
.head1{
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
    letter-spacing: 4px;
    color: azure;
    text-shadow: 0 10px rgba(0,0,0,0.3);
    
}


section{
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 5rem 0;
}
.adv{
    font-size: 5rem;
    padding: 0 10rem;
}
.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.heading2{
    position: absolute;
    background-color: white;
    font-size: 3.5rem;
    font-weight: 500;
    color: #000;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) ;

}
.back{
    position: relative;
    width: 100%;
    height: 400px;

    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}
.bg1{
    background-image: url(image/sport-1.jpg);
}
.bg2{
    background-image: url(image/sport-2.jpg);
}
.bg3{
    background-image: url(image/sport-3.jpg);
}

